## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Matara,LK,82.26,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
1,1,Busselton,AU,52.09,overcast clouds,-33.6500,115.3333,Observatory Guest House
2,3,San Vicente,AR,50.63,clear sky,-26.6167,-54.1333,Complejo Turístico Farelluk
3,4,Mar Del Plata,AR,57.09,broken clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
4,6,Sylacauga,US,61.05,clear sky,33.1732,-86.2516,"Holiday Inn Express & Suites Sylacauga, an IHG..."

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Los Angeles"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Los Angeles"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Lompoc"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Pacific Grove"] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Selma"]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
340,483,Los Angeles,US,64.53,overcast clouds,34.0522,-118.2437,Kawada Hotel

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()
start

array([[  34.0522, -118.2437]])

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
waypoints=[stop1[0],stop2[0],stop3[0]]
waypoints
directions = gmaps.directions_layer(start[0],end[0],waypoints=waypoints,travel_mode='DRIVING')
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,483,Los Angeles,US,64.53,overcast clouds,34.0522,-118.2437,Kawada Hotel
1,306,Lompoc,US,56.37,overcast clouds,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
2,12,Pacific Grove,US,55.76,clear sky,36.6177,-121.9166,Lovers Point Inn
3,412,Selma,US,71.98,clear sky,36.5708,-119.6121,Holiday Inn Selma-Swancourt

In [12]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 11a. Add a marker layer for each city to the map.
layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(layer)
fig

Figure(layout=FigureLayout(height='420px'))